/* Reset */
body {
   font-family: Arial, sans-serif;
   background-color: #eafaf1;
   margin: 0; 
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

/* Container */
.container {
    max-width: 600px;
    margin: auto;
    padding: 40px;
}

/* Header */
.header {
    font-size: 16px;
    text-align: center;
}

/* Formulário */
form {
    background: white;
    padding: 20px;
    padding-left: 15px;
    border-radius: 10px;
}

/* Campos */
input, select, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Label */
label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* Checkbox e Radio */
label input[type="checkbox"],
label input[type="radio"] {
    width: auto;
    margin: 0;
}

/* Botão */
button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* Rodapé */
.footer {
    background-color: #222;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 15px;
}

.footer-texto, .footer-contato {
    font-size: 16px;
}