body {
   font-family: Arial, sans-serif;
   background-color: #eafaf1;
   margin: 0; 
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.header {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, select, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}